body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('');
    background-size: cover;
    background-repeat: no-repeat;
}



.container {
    font-family: 'Times New Roman', Times, serif;
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(255, 228, 209, 0.8);
    
}

.places {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

h1, h3, p {
    font-family: 'Times New Roman', Times, serif;
}


.footer {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid #292929; 
    font-size: 14px;
    color: #555;
    background: #fafafa;
    
}


