body{
    background: url('zvid2.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(255, 238, 211);
    padding-bottom: -100px; 
}



.container {
    font-family: 'Times New Roman', Times, serif;
    color:rgb(0, 0, 0);
    text-align: left;
    margin-top: 200px;

    padding-bottom: 0px;

}

.card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.footer {
    width: 100%;
    text-align: center;
    margin-bottom: -30px;
    border-top: 1px solid #292929;
    font-size: 14px;
    color: #555;
    background: #fafafa;
    margin-top: -30px;
}
